html,
body {
	height: 100%;
}

body {
	@extend %dmsans-400;
	color: $default-color;
	font-size: 16px;
	font-style: normal;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

.container--1800 {
	max-width: 1800px;
	padding: 0 15px;
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

a,
button {
	display: block;
	background-color: transparent;
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
}

.link-btn {
	border: none;
	padding: 22px 100px 20px 27px;
	display: inline-block;
	position: relative;
	@extend %rubik-500;
	font-size: 15px;

	&::before {
		content: "";
		display: block;
		background-repeat: no-repeat;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 22px;
		height: 9px;
	}

	&--blue {
		background-color: $accent-color;
		position: relative;
		color: #ffffff;

		&::before {
			background-image: url("../images/icons/arrow-btn.svg");
		}
	}
}