html,
body {
	height: 100%;
}

body {
	@extend %dmsans-400;
	color: $default-color;
	font-size: 16px;
	font-style: normal;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

.container--1800 {
	max-width: 1800px;
	padding: 0 15px;
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	@extend %dmsans-700;
	font-size: 36px;
	color: $title-color;
	text-align: center;
}

.title-blog {
	@extend %rubik-700;
	font-size: 24px;
	line-height: 36px;
	color: $btn-link-dark;
}

.title-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 47px;
}

.filter {
	display: flex;
	justify-content: center;
	@extend %dmsans-700;
	font-size: 16px;

	button {
		color: $filter-btn;
	}

	&__btn+.filter__btn {
		margin-left: 30px;
	}

	.mixitup-control-active {
		color: $title-color;
	}
}

.news {
	padding: 5px 30px;
	background-color: $accent-color;
	border-radius: 50px;
	display: inline-block;
	color: #ffffff;
	@extend %poppins-700;
	font-size: 14px;
	line-height: 20px;
	position: absolute;
}

a,
button {
	display: block;
	background-color: transparent;
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
}

.link-btn {
	border: none;
	padding: 22px 100px 20px 27px;
	display: inline-block;
	position: relative;
	@extend %rubik-500;
	font-size: 15px;

	&::before {
		content: "";
		display: block;
		background-repeat: no-repeat;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 22px;
		height: 9px;
	}

	&--blue {
		background-color: $accent-color;
		color: #ffffff;

		&::before {
			background-image: url("../images/icons/arrow-btn-white.svg");
		}
	}

	&--dark {
		background-color: transparent;
		color: $btn-link-dark;

		&::before {
			background-image: url("../images/icons/arrow-btn-dark.svg");
		}
	}

	&--team {
		background-color: $accent-color;
		color: #ffffff;

		&::before {
			background-image: url("../images/icons/arrow-btn-team.svg");
		}
	}

	&--white {
		background-color: #ffffff;
		color: $accent-color;
		border: 1px solid $accent-color;
		padding: 22px 78px 20px 27px;

		&::before {
			background-image: url("../images/icons/arrow-btn-accent.svg");
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;

	&__list {
		display: flex;

	}

	&__item+.pagination__item {
		margin-left: 15px;
	}

	&__link {
		padding: 0 19px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 50px;
		height: 50px;
		@extend %rubik-400;
		font-size: 16px;
		border: 1px solid $accent-color;
		background-color: #ffffff;

		&--active {
			background-color: $accent-color;
			color: #ffffff;
		}
	}

}

.product-box {
	padding: 100px 0 120px;

	&__inner {
		display: flex;
	}
}

.blog-box {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 21px 16px;
	background-color: $accent-color;
	display: flex;
	color: #ffffff;
	@extend %rubik-400;
	font-size: 12px;
	line-height: 30px;
	text-transform: uppercase;

	&__date,
	&__author {
		padding-left: 20px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 6px;
		}
	}

	&__date {
		margin-right: 27px;

		&::before {
			background-image: url("../images/icons/calend.svg");
			width: 14px;
			height: 16px;
		}
	}

	&__author {
		&:before {
			background-image: url("../images/icons/user.svg");
			width: 12px;
			height: 14px;
		}
	}
}

.blog-img {
	max-width: 830px;
	width: 100%;
	height: 501px;
	object-fit: cover;
	display: block;

}

@media (max-width: 520px) {
	.title {
		font-size: 26px;
	}

	.filter {
		flex-direction: column;
		align-items: center;

		&__btn {
			margin-bottom: 20px;
		}

		&__btn+.filter__btn {
			margin-left: 0;
		}
	}
}