$default-color: #243f4d;
$accent-color: #a3bbc8;
$title-color: #1a1a1a;
$footer-color: #7b7b7b;
$footer-title: #1f2044;
$bg: #fef7f0;
$bg-orange: #fcd7b6;
$filter-btn: #8b8b8b;
$btn-link-dark: #436372;
$client-bg: #fef7f0;
$top-bg: #edf1f4;

%rubik-300 {
	font-family: "Rubik", sans-serif;
	font-weight: 300;
}

%rubik-400 {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
}

%rubik-500 {
	font-family: "Rubik", sans-serif;
	font-weight: 500;
}

%rubik-700 {
	font-family: "Rubik", sans-serif;
	font-weight: 700;
}

%poppins-700 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}

%dmsans-400 {
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
}

%dmsans-500 {
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
}

%dmsans-700 {
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
}

%checkbox-hidden {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
}