<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Glee</title>
	<link rel="stylesheet" href="css/productgrid.min.css">
</head>

<body>
	{% include 'app/html/_header.html' %}
	<main class="main">
	{% include 'app/html/top/_top-productgrid.html' %}
	{% include 'app/html/_productgrid.html' %}
	</main>

	{% include 'app/html/_footer.html' %}
	<script src="js/main.min.js"></script>
</body>

</html>