.insights-clients {
	padding-top: 115px;


	&__more {
		@extend %dmsans-700;
		font-size: 16px;
		color: $title-color;
		padding-right: 25px;
		position: relative;

		&::after {
			content: "";
			background-image: url("../images/icons/chevron.png");
			background-repeat: no-repeat;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 7px;
			height: 12px;
		}
	}

	&__items {
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 10;
	}

	&__item {
		background-repeat: no-repeat;
		background-position: top center;
		background-color: #ffffff;
		max-width: 370px;
		min-height: 420px;
		padding-bottom: 60px;
		position: relative;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

		&-img {
			width: 100%;
			height: 250px;
			object-fit: cover;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;

		}


		&-content {
			padding: 30px 50px 26px 30px;
			position: relative;
		}


		&-text {
			@extend %dmsans-500;
			font-size: 18px;
			color: $title-color;
			/* padding-bottom: 24px; */
		}

		&-bottom {
			width: 100%;

			@extend %rubik-400;
			font-size: 12px;
			line-height: 30px;
			text-transform: uppercase;
			/* padding: 16px 28px 20px 28px; */
			padding: 0 30px;
			position: absolute;
			bottom: 20px;

		}

		&-info {
			display: flex;
			/* padding: 20px 0; */
			padding-top: 20px;
			border-top: 1px solid #e0e0e0;
			width: 100%;
		}

		&-date {
			margin-right: 30px;
		}
	}

	.news {
		top: -16px;
		left: 30px;
	}

	&__content {
		background-color: $client-bg;
		position: relative;
		margin-top: -188px;

		&-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding-bottom: 90px;
			min-height: 435px;
		}

		&.insights-clients__content--no-item {
			margin-top: 0;

			.insights-clients__content-wrapper {
				min-height: auto;
				padding-top: 77px;
			}

		}
	}


	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
}

@media (max-width: 1200px) {
	.insights-clients {
		&__items {
			margin-bottom: 40px;
			flex-direction: column;
			align-items: center;
		}

		&__item {
			margin-bottom: 40px;
			max-width: 50%;
		}

		&__content {
			margin-top: 0;
			padding-top: 90px;

			&-wrapper {
				min-height: auto;
			}
		}
	}
}

@media (max-width: 950px) {
	.insights-clients {
		&__item {
			width: 100%;
			max-width: 100%;
		}

		&__content {
			padding-top: 40px;

			&-wrapper {
				padding-bottom: 10px;
			}
		}

		&__inner {
			flex-direction: column;
		}

		&__client {
			&-img {
				margin-bottom: 30px;
			}
		}
	}
}