.modal {
	padding: 110px 0 120px;

	&__inner {
		max-width: 470px;
		width: 100%;
		margin: 0 auto;
	}

	&__form {
		margin-bottom: 26px;
		padding-bottom: 30px;
		border-bottom: 2px solid #f6f6f6;
	}

	&__label {
		@extend %rubik-400;
		font-size: 14px;
		color: $btn-link-dark;
		display: block;
		margin-bottom: 20px;
	}

	&__input {
		display: block;
		width: 100%;
		border: 2px solid #f6f6f6;
		height: 60px;
		padding: 0 15px;
		margin-top: 10px;
	}

	&__btn {
		display: inline-block;
		width: 100%;
		background-color: $accent-color;
		color: #ffffff;
		@extend %rubik-500;
		font-size: 18px;
		padding: 20px 0;
		margin-top: 20px;
		margin-bottom: 30px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
	}

	&__registration {
		text-align: center;

		&-text {
			@extend %rubik-400;
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 20px;
		}

		&-link {
			display: block;
			width: 100%;
			border: 2px solid $accent-color;
			padding: 20px 0;
			@extend %rubik-500;
			font-size: 18px;
		}
	}
}