.product-page {
	padding-top: 120px;

	.products-star {
		display: block;
	}
}

.product-one {
	@extend %rubik-400;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		max-width: 550px;
		width: 100%;
	}

	&__title {
		font-size: 40px;
		color: #333333;
		margin-bottom: 10px;
		@extend %rubik-400;
	}

	&__star {
		margin-bottom: 30px;
	}

	&__price {
		font-size: 30px;
		color: #333333;
		margin-bottom: 25px;
	}

	&__text {
		color: $default-color;
		line-height: 30px;
		margin-bottom: 35px;
	}
}

.product-slide {
	display: flex;

	&__thumb {
		width: 140px;
		margin-right: 30px;

		&-item {
			width: 140px;
			height: 160px;
			margin-bottom: 22px;
			display: flex !important;
			justify-content: center;
			align-items: center;
			border: 1px solid #f2f2f2;

			img {
				display: block;
				width: auto;
				height: 160px;
				object-fit: cover;
			}
		}
	}

	&__big {
		width: 390px;

		&-item {
			border: 1px solid #f2f2f2;
			height: 529px;
			display: flex !important;
			justify-content: center;
			align-items: center;
		}

		img {
			display: block;
			width: auto;
			height: auto;
			object-fit: cover;
		}
	}
}

.product-filter {
	&__list {
		list-style: none;
	}

	&__box {
		display: flex;
		margin-bottom: 53px;
	}

	&__btn {
		padding: 17px 53px;
		background-color: $accent-color;
		text-transform: uppercase;
		color: #ffffff;
		border-radius: 5px;
		margin-left: 15px;
	}

	&__item {
		display: flex;
		line-height: 30px;
	}


	&__link {
		padding-left: 6px;

	}
}

.jq-number {
	padding: 0;
}

.jq-number__field {
	width: 150px;
	border: 1px solid $accent-color;
	border-radius: 0;
	box-shadow: none;
}

.jq-number__field input {
	box-sizing: border-box;
	width: 100%;
	padding: 17px 0;
	border: none;
	outline: none;
	background: none;
	@extend %rubik-400;
	font-size: 15px;
	color: #333333;
	text-align: center;
}

.jq-number__spin {
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 14px;
	border: none;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	user-select: none;
	text-shadow: none;
	cursor: pointer;

	&::after {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border: none;
		width: 6px;
		height: 1px;
		background-color: #333333;
	}

	&:hover {
		background: transparent;

	}

	&:active {
		box-shadow: none;
	}

	&.minus,
	&.plus {
		width: 50px;
		height: 100%;
	}

	&.minus {
		top: 0;
		left: 0;
		border-right: 1px solid $accent-color;

		&::after {
			top: 50%;
			transform: translateY(-50%);
			border: none;
		}
	}

	&.plus {
		border-left: 1px solid $accent-color;

		&::after {
			width: 1px;
			height: 6px;
			background-color: #333333;
		}

		&::before {
			content: "";
			width: 6px;
			height: 1px;
			background-color: #333333;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.product-tabs {
	padding: 100px 0;

	&__top {
		display: flex;
		justify-content: center;
		margin-bottom: 33px;

		&-item {
			max-width: 242px;
			width: 100%;
			text-align: center;
			padding: 15px 10px;
			background-color: $top-bg;
			border-radius: 5px;
			@extend %rubik-500;
			color: $default-color;
			font-size: 18px;

			&+.product-tabs__top-item {
				margin-left: 12px;
			}

			&--active {
				color: #ffffff;
				background-color: $accent-color;
			}
		}
	}

	&__item {
		display: none;

		&--active {
			display: block;
		}

		&-text {
			@extend %rubik-400;
			line-height: 30px;
		}
	}
}

@media (max-width: 1200px) {
	.product {
		&-slide {
			&__thumb {
				display: none;
			}
		}

		&-one {
			&__inner {
				justify-content: flex-start;
			}

			&__content {
				margin-left: 50px;
			}
		}
	}
}

@media (max-width: 950px) {
	.product {
		&-page {
			padding-top: 60px;
		}

		&-one {
			&__inner {
				display: block;
			}

			&__slide {
				justify-content: center;
			}

			&__content {
				margin-left: 0;
				max-width: 100%;
			}
		}

		&-tabs {
			&__top {
				display: block;

				&-item {
					margin-bottom: 20px;

					&+.product-tabs__top-item {
						margin-left: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 520px) {
	.product {
		&-page {
			.product {
				&-one {
					.slick-list {
						padding-left: 0;
						width: 100%;
					}
				}

				&-slide {
					&__big {
						width: 100%;

						&-item {
							height: 467px;
						}
					}
				}
			}
		}

		&-tabs {
			&__top-item {
				max-width: 100%;
			}
		}
	}

}

@media (max-width: 450px) {
	.product {
		&-one {
			.product-filter {
				&__box {
					display: block;
				}

				&__btn {
					margin-left: 0;
				}

				&__num {
					width: 100%;

					.jq-number__field {
						width: 100%;
					}
				}

				&__btn {
					margin-top: 20px;
					width: 100%;
				}
			}
		}

		&-tabs {
			padding: 60px 0;
		}
	}
}