.product-grid {

	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 108px;
	}

	.products__item {
		width: 270px;
		margin-bottom: 40px;
		background-repeat: no-repeat;
		background-position: center right;
		padding: 0;
		padding-top: 25px;
		padding-bottom: 40px;

		&-img {
			justify-content: center;
			width: 100%;
		}
	}

	.insights-clients__content {
		margin-top: 0;

		&-wrapper {
			min-height: auto;
			padding-top: 77px;
		}
	}
}